body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.app {
  position: relative;
  background: white;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding-bottom: 20px;
}

.header {
  background-color: #5f8591;
  color: white;
  padding: 60px 30px 40px;
  border-radius: 0px 0px 40px 40px;
  position: relative;
}

.menu-dots-btn {
  background: none;
  color: white;
  font-size: 50px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.options-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.back-arrow {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.header-text p {
  margin: 0;
  font-size: 0.9rem;
}

main {
  padding: 1rem;
}

.titulo-cita {
  font-size: 1.3rem;
  font-weight: bold;
}

.detalle-card {
  background-color: #e5ecf3;
  border-radius: 12px;
  margin-top: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-header {
  background-color: #2a4e5c;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.card-body {
  padding: 1rem;
  font-size: 0.95rem;
}

.paciente-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.8rem;
}

.paciente-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.datos-paciente {
  line-height: 1.4;
}

.sin-pago {
  color: #cc0000;
}

.botones {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}


.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-cancelar {
  background-color: #a5d1d1;
}

.btn-aceptar {
  background-color: #c5c5c5;
}

.menu-icon {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

