body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.app {
  position: relative;
  background: white;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding-bottom: 20px;
}

.header {
  background-color: #5f8591;
  color: white;
  padding: 60px 30px 40px;
  border-radius: 0px 0px 40px 40px;
  position: relative;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.header h2 {
  margin: 0;
  font-size: 12px;
}


.header p {
  margin: 5px 0 0;
  font-size: 16px;
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

.card {
  background-color: #e5ecf3;
  border-radius: 12px;
  margin-top: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-header {
  background-color: #2a4e5c;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
}


.options-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.pendiente {
  color: #0066cc;
}

.sin-pago {
  color: #cc0000;
}
