/* Estilos del Menú lateral */

.sidebar {
  position: absolute;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #11394c;
  color: white;
  transition: left 0.3s ease-in-out;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 15;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  left: 0; 
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 75px 0 20px;
}

.menu-options {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.menu-options a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0 0 15px 0;
  padding: 25px 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.menu-options a:hover {
  background-color: #406475;
}

#logout-btn {
  background-color: #588a9b;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  font-size: 14px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

#logout-btn:hover {
  background-color: #95c3d3;
  /* Versión más clara del color base */
}

.logout-container {
  text-align: center;
  margin-bottom: 30px;
}

.menu-dots-btn {
  background: none;
  color: white;
  font-size: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -7px;
  left: 20px;
  z-index: 20;
}


.linea_menu {
  border: none;
  height: 2px;
  background-color: #5f8591;
  margin: 20px 0;
}

h7 {
  color: #899fa8;
}