* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #e4f0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background-color: #407882;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  margin-bottom: 15px;
  
}
.logo-circle img{
  width: 110px;
}

.logo-circle {
  width: 100px;
  height: 100px;
  background-color: #dbe7e6;
  border-radius: 50%;
  margin: 0 auto 0 ;
}



h1 {
  font-weight: bold;
  font-size: 20px;
}

.login-box h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.roles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.role-btn {
  background-color: #cde4e2;
  color: #1d3c3b;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.role-btn:hover {
  background-color: #b0d1cf;
}

.role-btn.selected {
  background-color: #1d3c3b;
  color: white;
  border: 2px solid white;
}
